<div class="container">
  <div class="close-modal-btn">
    <button (click)="toggleAuthModalVisibility()">
      <img src="/assets/close.svg" alt="close button icon" class="close-icon" />
    </button>
  </div>

  <div class="logo">
    <h1>DENTALIO</h1>
  </div>

  <div class="hint">
    <p>Autentifica-te pentru a putea face programari</p>
  </div>

  <div class="auth-option-btn">
    <!-- <div class="formGroup">
      <input
        type="button"
        class="btn btnPrimary"
        value="Sign Up With Google"
        (click)="authService.GoogleAuth()"
      />
    </div> -->
    <img
      src="/assets/google.svg"
      alt="auth option logo"
      class="auth-option-icon"
    />
    <p class="auth-option-text">Continua cu Google</p>
  </div>

  <div class="auth-option-btn">
    <img
      src="/assets/facebook.svg"
      alt="auth option logo"
      class="auth-option-icon"
    />
    <p class="auth-option-text">Continua cu Facebook</p>
  </div>

  <div class="divider">
    <div class="line-divider"></div>
    <p>Sau</p>
    <div class="line-divider"></div>
  </div>

  <div class="auth-option-btn">
    <img
      src="/assets/user.svg"
      alt="auth option logo"
      class="auth-option-icon"
    />
    <p class="auth-option-text">Utilizeaza numarul de mobil sau email-ul</p>
  </div>

  <div class="create-account-btn">
    <span>Nu aveti cont? </span>
    <span class="register-hint">Inregistrare.</span>
  </div>
</div>
