<header>
  <div class="logo">
    <a routerLink=""><h1>DENTALIO</h1></a>
  </div>
  <div class="right-menu">
    <div class="appointments-btn">
      <button routerLink="/appointments">Programari</button>
    </div>
    <div class="account-btn">
      <img src="/assets/user.svg" alt="user icon" />
      <button (click)="toggleNavMenuVisibility()">Contul meu</button>
    </div>
  </div>
</header>

<div *ngIf="isAuthMenuVisible$ | async">
  <div class="auth-overlay-shadow">
    <app-auth-options></app-auth-options>
  </div>
</div>

<div *ngIf="isNavMenuVisible$ | async">
  <app-navigation></app-navigation>
</div>
