<header>
  <div class="logo">
    <a routerLink=""><h1>DENTALIO</h1></a>
  </div>
  <div class="right-menu">
    <!-- TODO Remove, add it in the sign pages, not here, only for debugging purposes. -->
    <div (click)="toggleAuthModalVisibility()">Auth options</div>
    <div class="appointments-btn">
      <button routerLink="/appointments">Programari</button>
    </div>
    <app-navigation></app-navigation>
  </div>
</header>

<div *ngIf="isAuthMenuVisible$ | async">
  <div class="auth-overlay-shadow">
    <app-auth-options></app-auth-options>
  </div>
</div>
