<app-header></app-header>

<div class="container-bg">
  <div class="container">
    <h2>Detalii cont</h2>

    <!-- Loading Indicator -->
    <div *ngIf="isFetchPending$ | async">Loading...</div>

    <!-- Error Message -->
    <div *ngIf="error$ | async as error">{{ error }}</div>

    <!-- Pending -->
    <div *ngIf="isFetchPending$ | async">Pending</div>

    <div class="label-with-input">
      <span class="label">Nume</span>
      <input type="text" placeholder="Nume" [(ngModel)]="user.name" />
    </div>

    <div class="label-with-input">
      <span class="label">Telefon</span>
      <input type="text" placeholder="Telefon" [(ngModel)]="user.phoneNumber" />
    </div>

    <div class="label-with-input">
      <span class="label">Email</span>
      <input type="text" placeholder="Email" [(ngModel)]="user.email" />
    </div>

    <button class="main-btn" (click)="onSaveChanges()">
      Salveaza modificari
    </button>

    <button class="red-text-btn">Sterge contul</button>
  </div>
</div>
