<app-header></app-header>
<div class="container-bg">
  <div class="container">
    <h2>Detalii cont</h2>

    <div class="label-with-input">
      <span class="label">Nume</span>
      <input type="text" placeholder="Nume" />
    </div>

    <div class="label-with-input">
      <span class="label">Prenume</span>
      <input type="text" placeholder="Prenume" />
    </div>

    <div class="label-with-input">
      <span class="label">Telefon</span>
      <input type="text" placeholder="Telefon" />
    </div>

    <div class="label-with-input">
      <span class="label">Email</span>
      <input type="text" placeholder="Email" />
    </div>

    <button class="main-btn">Salveaza modificari</button>

    <button class="red-text-btn">Stege contul</button>
  </div>
</div>