<div class="container">
  <div class="row">
    <div class="row">
      <img
        src="assets/cabinet-profiles/cabinet-1.jpg"
        alt="personal avatar"
        class="personal-avatar"
      />
      <div class="personal-and-cabinet-col">
        <p>Dr Xulescu</p>
        <span class="cabinet-name">Medlife SRL</span>
      </div>
    </div>
    <span class="status">FINALIZAT</span>
  </div>

  <div class="row">
    <div class="service-and-date-col">
      <span class="service-name-and-price">Extractie molar - 150 Ron</span>
      <span>Marti, 17.06.2023, ora: 11:00</span>
    </div>

    <button class="main-btn">Detalii</button>
  </div>
</div>
