<div class="container">
  <div class="logo">
    <h1>DENTALIO</h1>
  </div>
  <span class="hint">Gaseste dentistul potrivit nevoilor tale</span>

  <!-- LOCATION -->
  <div class="ng-autocomplete">
    <ng-autocomplete
      [suffixIconUrl]="'assets/search-menu/location.svg'"
      [data]="locations"
      [searchKeyword]="keyword"
      placeholder="Alege locatie"
      (selected)="onLocationSelected($event)"
      (inputChanged)="onChangeSearch($event)"
      (inputFocused)="onFocused($event)"
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate"
    >
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>

  <!-- SERVICE -->
  <div class="ng-autocomplete">
    <ng-autocomplete
      [suffixIconUrl]="'./assets/search-menu/search-loop.svg'"
      [data]="services"
      [searchKeyword]="keyword"
      placeholder="Alege serviciu"
      (selected)="onServiceSelected($event)"
      (inputChanged)="onChangeSearch($event)"
      (inputFocused)="onFocused($event)"
      [itemTemplate]="itemTemplate"
      [notFoundTemplate]="notFoundTemplate"
    >
    </ng-autocomplete>

    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
  </div>

  <!-- Discover button -->
  <button class="main-btn" (click)="onDiscoverClick()">
    Descopera cabinete in apropiere
  </button>
</div>
