.container {
  position: absolute;
  left: 0%;
  top: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6883ba;
  color: #fff;
  border-radius: 1rem;
  margin-left: 10vw;
  padding: 1rem;
  max-width: 500px;
}

input {
  border: none;
  min-width: 350px;
}

button {
  min-width: 100%;
  margin: 0;
}

.input-container {
  display: flex;
  background-color: #fff;
  border-radius: 1rem;
  margin: 0.5rem 0;
}

.input-suffix-icon {
  margin-left: 1rem;
}

.hint {
  margin: 0.5rem 0;
  font-size: 1.3rem;
}

.logo {
  letter-spacing: 0.2rem;
}
