<div class="container">
  <div class="logo">
    <h1>DENTALIO</h1>
  </div>
  <span>Gaseste dentistul potrivit nevoilor tale</span>
  <div class="input-container">
    <img
      src="assets/search-menu/location.svg"
      alt="location svg"
      class="input-suffix-icon"
    />
    <input type="text" placeholder="Alege locatie" />
  </div>
  <div class="input-container">
    <img
      src="assets/search-menu/search-loop.svg"
      alt="location svg"
      class="input-suffix-icon"
    />
    <input type="text" placeholder="Serviciul dorit" />
  </div>
  <div class="input-container">
    <img
      src="assets/search-menu/calendar.svg"
      alt="location svg"
      class="input-suffix-icon"
    />
    <input type="text" placeholder="Oricand" />
  </div>
  <button class="main-btn">Descopera cabinete in apropiere</button>
</div>
