<app-header></app-header>
<div class="container">
  <!-- Loading state -->
  <ng-container *ngIf="status$ | async as status">
    <div *ngIf="status === 'loading'">Loading...</div>
  </ng-container>

  <!-- Success state -->
  <ng-container *ngIf="status$ | async as status">
    <ng-container *ngIf="status === 'success'; else loadingOrError">
      <ng-container *ngIf="selectedCabinetProfile$ | async as cabinetProfile">
        <div class="content-card">
          <div class="header">
            <img
              [src]="cabinetProfile?.avatarUrl"
              alt="cabinet gallery image"
              class="cabinet-avatar"
            />

            <div class="col">
              <div class="favorite-btn-row">
                <h2 class="cabinet-name">{{ cabinetProfile?.name }}</h2>
                <app-favorite-button
                  [isFavorite]="isFavorite(cabinetProfile?.id)"
                  class="favorite-btn"
                  (click)="onFavoriteBtnClick($event, cabinetProfile?.id)"
                ></app-favorite-button>
              </div>

              <div class="address-row">
                <img
                  src="assets/search-menu/location.svg"
                  alt="location svg"
                  class="location-svg"
                />
                <p class="address">
                  {{ cabinetProfile?.address.city }},
                  {{ cabinetProfile?.address.address }}
                </p>
              </div>

              <div
                *ngIf="cabinetProfile?.reviews; else noReviews"
                class="reviews-row"
              >
                <img src="assets/star.svg" alt="star svg" />
                <!-- TODO Remove hardcoded value and create a method to calculate the -->
                <span class="rating">4.7 </span>
                <span class="num-of-reviews"
                  >{{ cabinetProfile?.reviews?.length }} Recenzii</span
                >
              </div>

              <ng-template #noReviews>
                <div class="no-reviews-message">Nu exista recenzii inca</div>
              </ng-template>

              <div class="capsule-row">
                <div class="capsule-btn">
                  <span>Servicii</span>
                </div>

                <div class="capsule-btn">
                  <span>Galerie</span>
                </div>

                <div class="capsule-btn">
                  <span>Recenzii</span>
                </div>

                <div class="capsule-btn">
                  <span>Contact</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="content-card">
          <div class="staff-member">
            <ng-container
              *ngIf="cabinetProfile?.staff[0]?.avatarUrl; else noAvatar"
            >
              <img
                [src]="cabinetProfile?.staff[0]?.avatarUrl"
                alt="staff profile image"
                class="staff-avatar"
              />
            </ng-container>
            <ng-template #noAvatar>
              <div class="rounded-circle">
                <p class="initials">
                  {{ cabinetProfile?.staff[0]?.firstName?.charAt(0) }}
                  {{ cabinetProfile?.staff[0]?.lastName?.charAt(0) }}
                </p>
              </div>
            </ng-template>
            <p class="staff-name">
              Dr
              {{ cabinetProfile?.staff[0].firstName }}
              {{ cabinetProfile?.staff[0].lastName }}
            </p>
          </div>

          <div class="services-grid">
            <div
              class="service-card"
              *ngFor="let service of cabinetProfile?.services"
            >
              <img src="assets/tooth.svg" alt="tooth svg" />

              <div class="name-price-col">
                <p class="service-name">{{ service.name }}</p>
                <span>{{ service.price }} Lei</span>
              </div>

              <div class="reserve-btn main-btn" routerLink="/calendar">
                Rezerva
              </div>
            </div>
          </div>
        </div>

        <div class="content-card">
          <span class="content-card-title">Galerie</span>

          <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
            (init)="slickInit($event)"
            (breakpoint)="breakpoint($event)"
            (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)"
          >
            <div
              ngxSlickItem
              *ngFor="let galleryImage of cabinetProfile?.gallery"
              class="slide"
            >
              <img
                [src]="galleryImage.imageUrl"
                alt=" gallery image"
                class="gallery-image"
              />
            </div>
          </ngx-slick-carousel>
        </div>

        <div *ngIf="cabinetProfile?.reviews" class="content-card">
          <span class="content-card-title">Recenzii</span>

          <div class="review-cards-grid">
            <div
              class="review-card"
              *ngFor="let review of cabinetProfile?.reviews"
            >
              <img
                [src]="review.reviewerAvatarUrl"
                alt="Review Avatar"
                class="avatar-img"
              />
              <div class="review-details-col">
                <p class="reviewer-name">{{ review.reviewerName }}</p>
                <div class="stars-row">
                  <ng-container
                    *ngFor="let _ of [0, 1, 2, 3, 4]; let i = index"
                  >
                    <img
                      src="assets/{{
                        i < review.numOfStars ? 'star' : 'empty-star'
                      }}.svg"
                      alt="star svg"
                    />
                  </ng-container>
                </div>
                <p>{{ review.description }}</p>
              </div>
            </div>
          </div>
        </div>

        <!-- TODO I THINK THIS WILL BE ADDED AFTER MPV, CURRENTLY IN THE MOBILE APP THIS IS NOT ADDED, SO I FIRST TO ADD IT THERE TOO. -->
        <!-- <div class="content-card">
          <div
            class="schedule"
            *ngFor="let scheduleDay of cabinetProfile?.schedule"
          >
            <p>{{ schedule }}</p>
          </div>
        </div> -->
      </ng-container>
    </ng-container>
    <star-rating [starType]="'svg'" [rating]="2"></star-rating>

    <!-- Error state -->
    <ng-template #loadingOrError>
      <div *ngIf="status === 'error'">Error loading data.</div>
    </ng-template>
  </ng-container>
</div>
