nav {
  position: absolute;
  z-index: 3;
  right: 0.1rem;
  background-color: #fff;
  max-width: 600px;
  border-radius: 1rem;
  float: right;
  margin-right: 15%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.nav-button {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid #d9d9d9;
  font-weight: bold;
}

.btn-icon {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

.nav-btn-without-border {
  padding: 1rem;
}
