<button mat-button [matMenuTriggerFor]="menu">
  <mat-icon>person_outline</mat-icon> Contul meu
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/profile">
    <mat-icon>person_outline</mat-icon>
    Detalii cont
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item routerLink="/appointments">
    <mat-icon>alarm</mat-icon>
    Programari
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item routerLink="/favorites">
    <mat-icon>favorite_outline</mat-icon>
    Favorite
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item routerLink="/notifications">
    <mat-icon>notifications_none</mat-icon>
    Notificari
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <mat-icon>add_business</mat-icon>
    Listeaza-ti afacerea pe Dentalio
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>Centru de ajutor</button>
  <button mat-menu-item (click)="signOut()">Iesi din cont</button>
</mat-menu>
