<nav>
  <div class="nav-button">
    <a routerLink="/profile">Detalii cont</a>
  </div>
  <div class="nav-button">
    <img src="/assets/nav/calendar.svg" alt="" class="btn-icon" />
    <a routerLink="">Programari</a>
  </div>
  <div class="nav-button">
    <img src="/assets/nav/heart.svg" alt="" class="btn-icon" />
    <a routerLink="/favorites">Favorite</a>
  </div>
  <div class="nav-button">
    <img src="/assets/nav/bell.svg" alt="" class="btn-icon" />
    <a routerLink="">Notificari</a>
  </div>
  <div class="nav-button">
    <img src="/assets/nav/business.svg" alt="" class="btn-icon" />
    <a routerLink="">Listeaza-ti afacerea pe Dentalio</a>
  </div>
  <div class="nav-btn-without-border">
    <a routerLink="">Centru de ajutor</a>
  </div>
  <div class="nav-btn-without-border">
    <a routerLink="">Iesi din cont</a>
  </div>
</nav>
