@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: #d9d9d9;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: #333333;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:visited {
  color: inherit;
}

// === BUTTONS ===

.main-btn {
  cursor: pointer;
  background-color: #1a2d50;
  color: #fff;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.8rem;
  max-width: 350px;
  font-size: 1.1rem;
  min-width: 300px;
}

.red-text-btn {
  color: #bc0a0a;
  padding: 1rem;
}

.red-text-btn:hover {
  color: rgba(188, 10, 10, 0.6);
}

// === INPUTS ===

.label {
  font-weight: bold;
  font-size: 1rem;
  margin: 0.8rem 0;
}

input {
  margin: 0;
  padding: 1rem;
  border: 1px solid#d9d9d9;
  border-radius: 1rem;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  min-width: 450px;
}
