.container {
  position: relative;
  max-width: 450px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  border-radius: 1rem;
  cursor: pointer;
  flex-wrap: wrap;
  font-weight: 500;
  color: #333333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0;
}

.profile-img {
  max-width: 100%;
}

.card-body {
  padding: 1rem 2rem;
}

.address {
  font-size: 1.1rem;
}

.review-row {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}

.rating {
  margin: 0 1.5rem;
  font-weight: bold;
}

.favorite-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
