.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  border-radius: 1rem;
  cursor: pointer;
  flex-wrap: wrap;
  justify-content: center;
}

.add-to-favorites-btn {
  background-color: gray;
  padding: 0.5rem;
  border-radius: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
}

.profile-img {
  border-radius: 1rem 0rem 0 1rem;
  max-width: 300px;
  margin-right: 0.4rem;
}
