<div class="container">
  <div class="image-container">
    <img
      src="assets/cabinet-profiles/cabinet-1.jpg"
      alt="cabinet image"
      class="profile-img"
    />
  </div>

  <div class="card-body">
    <div class="row">
      <h2>{{ cabinetProfile?.name }}</h2>

      <div class="add-to-favorite-btn">
        <img src="assets/nav/heart.svg" alt="heart icon" />
      </div>
    </div>

    <p>{{ cabinetProfile?.address.address }}</p>
    <div class="review-row">
      <img src="assets/star.svg" alt="star icon" />
      <span>5.0</span>
      <span>{{ cabinetProfile?.numOfReviews }}</span>
    </div>
  </div>
</div>
