<div class="container" (click)="onProfileCardClick(cabinetProfile?.id)">
  <div class="image-container">
    <img
      src="assets/cabinet-profiles/cabinet-1.jpg"
      alt="cabinet image"
      class="profile-img"
    />
  </div>

  <div class="card-body">
    <div class="row">
      <h2>{{ cabinetProfile?.name }}</h2>

      <app-favorite-button
        [isFavorite]="isFavorite(cabinetProfile?.id)"
        class="favorite-btn"
        (click)="onFavoriteBtnClick($event, cabinetProfile?.id)"
      ></app-favorite-button>
    </div>

    <p class="address">{{ cabinetProfile?.address.address }}</p>
    <div *ngIf="cabinetProfile?.reviews; else noReviews" class="review-row">
      <img src="assets/star.svg" alt="star icon" />
      <!-- TODO Remove hardcoded value, create method to calculate the rating -->
      <span class="rating">5.0</span>
      <span>{{ cabinetProfile?.numOfReviews }} Recenzii</span>
    </div>

    <ng-template #noReviews>
      <div class="no-reviews-message">Nu exista recenzii inca</div>
    </ng-template>
  </div>
</div>
