<footer>
  <div class="links-section">
    <div class="logo">
      <h1>DENTALIO</h1>
    </div>
    <span>Gaseste dentistul potrivit nevoilor tale</span>
    <div class="social-icons-row">
      <a href="#">
        <img
          src="assets/footer/instagram.png"
          alt="instagram icon button"
          class="social-media-icon-button"
        />
      </a>
      <a href="#">
        <img
          src="assets/footer/facebook.png"
          alt="instagram icon button"
          class="social-media-icon-button"
        />
      </a>
      <a href="#">
        <img
          src="assets/footer/linkedin.png"
          alt="instagram icon button"
          class="social-media-icon-button"
        />
      </a>
    </div>
  </div>
  <div class="links-section">
    <a href="#">
      <img
        src="assets/app-stores/google.png"
        alt="google appstore image button"
        class="appstore-image-btn"
      />
    </a>
    <a href="#">
      <img
        src="assets/app-stores/appstore.png"
        alt="apple appstore image button"
        class="appstore-image-btn"
      />
    </a>
    <a href="#">
      <img
        src="assets/app-stores/huawei.png"
        alt="huawei appstore image button"
        class="appstore-image-btn"
      />
    </a>
  </div>
  <div class="links-section">
    <p>Informatii</p>
    <a href="#">Autentificare</a>
    <a href="#">Inregistrare</a>
    <a href="#">Inregistrare cabinet stomatologic</a>
  </div>
  <div class="links-section">
    <p>Pentru clienti</p>
    <a href="#">support&#64;dentalio.ro</a>
    <a href="#">Blog</a>
    <a href="#">Inregistrare cabinet stomatologic</a>
  </div>
  <div class="links-section">
    <p>Termeni si conditii</p>
    <a href="#">Politica de confidentialitate</a>
    <a href="#">ANPC</a>
  </div>
</footer>
